:root {
  --foreground-color: #408BA6;
  --background-color: #413F47;
  --accent-one-color: rgb(93, 153, 153);
  --accent-two-color: #f9fafa;
  --accent-three-color: #263B4B;
}

/*@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa_Thin.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa_Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa_Bold.ttf);
  font-weight: 500;
}*/

/*.font--comfortaa {
  font-family: Comfortaa;
  font-variant-ligatures: none;
  font-style: normal;
}*/

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: var(--accent-three-color);
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: var(--accent-one-color);
  text-shadow: none;
}

::selection {
  background: var(--accent-one-color);
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: var(--background-color);
  color: var(--foreground-color);
  padding: 0.2em 0;
}


/* ===== Styles ==================================================

   ========================================================================== */

body {
  font: 16px/26px 'Lato', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.header-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}

.main aside {
  border-top: 20px solid var(--foreground-color);
}

.main-container {
  text-align: center;
}

.footer-container {
  border-top: 1px solid var(--accent-two-color);
}

.title {
  color: var(--foreground-color);
}

/* ==============
  MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: var(--accent-two-color);
  background: var(--background-color);
}

nav a:hover,
nav a:visited {
  color: var(--accent-one-color);
}

nav a:hover {
  text-decoration: underline;
  text-decoration: none;
}

/* ==============
  MOBILE: Main
   ============== */
.main-container {
  border-top: 1px solid #eceff2;
  background-color: white;
}

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 40px;
  letter-spacing: .01em;
  line-height: 45px;
  font-weight: 300;
  margin-bottom: 40px;
}
@media screen and (min-width: 640px) {
  .main article h1 {
    margin-bottom: 60px;
  }
}

.main article img {
  width: 100%;
  max-width: 420px;
  margin: 10px auto;
}

.main article img#conversions {
  margin: 56px auto;
  width: 90%;
}

.main article p {
  font-size: 20px;
  letter-spacing: -.46px;
  line-height: 32px;
  font-weight: 100;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.main article p.first {
  max-width: 360px;
}

.main article p.last {
  margin-top: 100px;
  margin-bottom: 200px;
}
@media screen and (min-width: 640px) {
  .main article p.last {
    margin-bottom: 100px;
  }
}

.main article p span {
  color: var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
  padding-bottom: 2px;
}

.btn {
  border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;

    background-color: var(--foreground-color);
    color: white;

    padding-top: 16px;
    padding-bottom: 16px;
    width: 90%;
    max-width: 300px;
}

.btn:visited {
  color: white;
}

@media screen and (min-width: 640px) {
  .btn,
  .btn:visited {
    border: 3px solid var(--foreground-color);
    color: var(--foreground-color);
    background-color: white;
     padding: 18px 40px;
     margin: 16px auto;
  }

  .btn:hover {
    background-color: var(--foreground-color);
    color: white;
  }
}

.cta {
  position: fixed;
  background-color: white;
  bottom: 68px; left: 0;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .cta {
    position: relative;
    top: 0; bottom: 0; left: 0;
  }
}

.main aside {
  background: white;
  color: var(--background-color);
  padding: 0px 5% 10px;
}

.footer-container footer {
  padding: 20px 0;
}

.footer-container {
  position: fixed;
  bottom: 0;left: 0;
  width: 100%;
  background-color: white;
}

@media screen and (min-width: 640px) {
  .footer-container {
    position: relative;
    top: 0; bottom: 0; left: 0;
  }
}

/* ===============
  ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Begin styles
   ========================================================================== */

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
  padding-bottom: 2px;
}

a:visited {
  color: var(--foreground-color);
}

a:hover {
  color: var(--accent-three-color);
}

a:active {
  color: var(--accent-three-color);
}

.list-inline {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  width: 49%;
}

.display-block,
.list-inline li a {
  display: block;
}

.header-container {
}

.header-inner {
  padding: .5em;

}

#okcoded-icon {
  width: 4em;
  margin:auto;
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
      transform: translate3d(0, 0, 0) rotate(0deg);
  -webkit-transform-origin: center;
      transform-origin: center;
  -webkit-transition: .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  /* -webkit-animation: rotate 3.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
      animation: rotate 3.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); */
}

#okcoded-icon:hover {
  -webkit-transform: translate3d(0, 0, 0) scale(0.9) rotate(-180deg);
  transform: translate3d(0, 0, 0) scale(0.9) rotate(90deg);
}

@-webkit-keyframes rotate {
  0% {
   -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0) rotate(-7200deg);
  transform: translate3d(0, 0, 0) rotate(-7200deg);
  }
}

@keyframes rotate {
  0% {
   -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0) rotate(-7200deg);
  transform: translate3d(0, 0, 0) rotate(-7200deg);
  }
}

.hero-container {
  /* color: var(--foreground-color); */
  /*background-color: var(--background-color);*/
  /* background-color: #174B55; */
  height: 100vh;
  /* height: 80px; */
  max-width: 980px;
  margin: auto;
  position: relative;
  overflow: hidden;
  /* opacity: 0; */
  -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  -webkit-animation: fadeIn 3s;
      animation: fadeIn 3s;
}

/* .hero-container #videoBG {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  -webkit-animation: fadeIn 10s ease-out;
      animation: fadeIn 10s ease-out;
} */

.hero-container .layer {
  opacity: .6;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes fadeIn {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
  transform: translate3d(100%, 0, 0);
  }
  100% {
  transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  0% {
  transform: translate3d(100%, 0, 0);
  }
  100% {
  transform: translate3d(0, 0, 0);
  }
}

/* @media (min-width: 794px) {
  #videoBG {
  width:100%;
  height: auto;
  }
}

@media (max-width: 794px) {
  #videoBG { 
  width:auto;
  height: 100%;
  }
} */

.hero-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
      justify-content: center;
  -webkit-box-align: center;
      align-items: center;
  /* height: 100%;
  width: 100%; */
  /* position: absolute;
  top: 0;
  left: 0; */
}



.hero-wrapper {
  text-align: center;
  width: 100%;
  padding-top: 80px;
}

#phone-app {
  width: 50%;
    -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  -webkit-animation: slideIn 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation: slideIn 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      
}

@media screen and (min-width: 1025px) {
  #phone-app {
    max-width: 420px;
  }
}

#animated-svg {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1025px) {
  #animated-svg {
    max-width: 620px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

#animated-svg path {
  -webkit-transition: .3s ease-out;
  transition: .22s ease-out;
  /* fill: var(--accent-one-color); */
  /* fill: var(--foreground-color); */
  fill: var(--background-color);
}

#animated-svg path#icon,
#animated-svg path#k {
  transition-delay: .8s;
}

#animated-svg path#icon.kaboom,
#animated-svg path#k.kaboom {
  /* fill: var(--accent-three-color); */
  fill: var(--foreground-color);
}

#animated-svg path#c.kaboom,
#animated-svg path#o.kaboom,
#animated-svg path#d.kaboom,
#animated-svg path#e.kaboom,
#animated-svg path#d2.kaboom {
  /* fill: var(--foreground-color); */
  /*fill: var(--accent-one-color);*/
  fill: var(--background-color);
}


/* @media screen and (min-width: 680px) { */
  .hero-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* } */


#tagline {
  /* color: var(--accent-one-color); */
  /* color: var(--foreground-color); */
  /* color: var(--accent-one-color); */
  font-size: 5vw;
  line-height: 20px;
  letter-spacing: .45px;
  opacity: 0;
  margin-left: -50px;
}

#tagline p {
  margin-top: 0;
}

@media screen and (min-width: 780px) {
  #tagline {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .45px;
    margin-left: -50px;
  }
}

#tagline.show {
  opacity: 1;
}

#tagline p {
  -webkit-transform: translate3d(0,25%,0);
      transform: translate3d(0,25%,0);
  -webkit-transition: opacity 600ms linear 100ms, -webkit-transform 1000ms ease-out;
  transition: opacity 600ms linear 100ms, -webkit-transform 1000ms ease-out;
  transition: opacity 600ms linear 100ms, transform 1000ms ease-out;
  transition: opacity 600ms linear 100ms, transform 1000ms ease-out, -webkit-transform 1000ms ease-out;
}

#tagline p:last-child {
  opacity: 0;
  transition-delay: 300ms;
}

#tagline.show p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
}

#tagline p span {
  color: var(--foreground-color);
  border-bottom: 3px solid var(--foreground-color);
  padding-bottom: 3px;
  font-size: 120%;
  font-weight: bold;
}


#footer-icon {
  width: 3em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
  INTERMEDIATE: Menu
   ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

/* ========================
  INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

/* ====================
  WIDE: CSS3 Effects
   ==================== */

  .main aside {
    box-shadow: 0 5px 10px #aaa;
  }

/* ============
  WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

/* ============
  WIDE: Main
   ============ */

  .main article {
    float: left;
    width: 100%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {

/* ===============
  Maximal Width
   =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  }

  a,
  a:visited {
  text-decoration: underline;
  }

  a[href]:after {
  content: " (" attr(href) ")";
  }

  abbr[title]:after {
  content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
  content: "";
  }

  pre,
  blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
  }

  thead {
  display: table-header-group;
  }

  tr,
  img {
  page-break-inside: avoid;
  }

  img {
  max-width: 100% !important;
  }

  p,
  h2,
  h3 {
  orphans: 3;
  widows: 3;
  }

  h2,
  h3 {
  page-break-after: avoid;
  }
}