@mixin button-styles($name, $size) {
  .#{$name} {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    svg {
      fill: var(--color-link);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  height: auto;
  /* Allow content to dictate height */
  overflow-y: visible;
  /* Use the parent container for scrolling */
  color: white;
  font-family: 'Theinhardt', sans-serif;
  letter-spacing: -0.35px;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}

h1.heading {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 40px;
  font-family: 'Poiret One', sans-serif;
  font-size: 38px;
  line-height: 44px;
}

h1.heading .highlight {
  color: #473d27;
}

@media screen and (max-width: 1020px) {

  // styles for screens smaller than 1020px
  .about {
    padding: 0px;
  }

  h1.heading {
    font-size: 32px;
    line-height: 38px;
  }

  .aboutParagraph {
    font-size: 13px;
    line-height: 40px;
  }
}

.aboutParagraph {
  color: #fbfbfb;
  letter-spacing: -0.45px;
  font-size: 20px;
  line-height: 1.8125;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@media screen and (max-width: 1550px) {
  .aboutParagraph {
    font-size: 18px;
    max-width: 780px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  h1:not(.heading),
  h2,
  h3 {
    color: white;
    margin-bottom: 1rem;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    letter-spacing: 0.75px;
  }

}

.sectionsContainer {
  width: 100%;
  margin: 100px auto 100px auto;
  padding: 0;
  position: relative;
}

.navigationContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  z-index: 2;
}

.navigationContainerBottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  z-index: 2;
}

.contentSection {
  --grid-columns: 24;
  --gutter: 2rem;

  padding-bottom: 40px;
  display: flex;

  @media screen and (max-width: 620px) {
    flex-direction: column;
    
  }

  .contentSectionText {
    opacity: 0;
    position: relative;
    max-width: 420px;
    text-align: justify;

    margin-top: 3rem;
    padding-left: calc(4.16667vw - var(--gutter)* 23 / 24 + var(--gutter));

    &::before {
      background-color: #1a1a1a26;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 1px;
      left: calc(4.16667vw - var(--gutter)* 23 / 24);
    }
  }

  .contentSectionImageContainer {
    @include flex-center();
    justify-content: flex-end;
    margin-bottom: 10px;
    position: relative;
    transition: all 1s ease-out;

    img {
      width: 100%;
      max-width: 500px;
      min-width: 240px;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
      transition: all 1s ease-out;

      @media screen and (max-width: 1918px) {
        max-width: 300px;
      }
    }

    .imageInfoIcon {
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 40px;
      height: 40px;
      background-color: white;
      color: var(--color-link);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      transition: background-color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      appearance: none;
      -webkit-appearance: none;
      border: none;
      box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
      text-transform: lowercase;
      font-style: italic;
      font-weight: bold;
      font-family: monospace;

      &:hover {
        background-color: white;
        transform: scale(1.05);
      }
    }
  }

  &.active {
    .contentSectionImageContainer {
      // animation: contentActiveImage 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
      transform: translate3d(-10%, 10%, 0)scale(1.2);

      @media screen and (max-width: 620px) {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }

    .contentSectionImageContainer img {
      max-width: 600px;
      border-radius: 20px;
      // transform: translate3d(-50%, 50%, 0) scale(2);

      @media screen and (max-width: 1918px) {
        max-width: 400px;
      }
    }

    .contentSectionImageContainer .imageInfoIcon {
      transform: scale(.5);
      @media screen and (max-width: 620px) {
        transform: scale(1);
      }

      &:hover {
        transform: scale(.55);
        @media screen and (max-width: 620px) {
          transform: scale(1.05);
        }
      }
    }

    .contentSectionText {
      animation: contentActive 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }
  }

  &:not(.active) {
    opacity: 0.65;

    .contentSectionText {
      max-height: 400px;
    }
  }

  h2 {
    font-family: 'Poiret One', sans-serif;
    // color: #473d27;
    color: white;
    font-size: 42px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-align: right;
    transform: translate3d(0, 0, 0) scale(1);
    margin: 0 0 10px 0;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease-out,
      height 0.3s ease-out, width 0.3s ease-out;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .paragraph {
    white-space: normal;
    letter-spacing: -.16px;
    color: #473d27;
    z-index: 2;
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    text-align: justify;
  }

  .list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    z-index: 2;
    position: relative;
    text-align: center;

    li {
      white-space: normal;
      font-size: 16px;
      line-height: 1.3;
      font-family: 'Poiret One', sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      // color: #473d27;
      color: white;
      margin: 8px 0;

      @media screen and (max-width: 1020px) {
        font-size: 20px;
      }
    }

    li .highlight {
      color: #473d27;
      font-size: 80%;
    }
  }
}

@keyframes contentActive {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes contentActive {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contentActiveImage {
  0% {
    transform: translateY(0) scale(.9);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes contentActiveImage {
  0% {
    transform: translateY(0) scale(.9);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@include button-styles(closeButton, 60px);

.closeButton {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  z-index: 3;
}

.closeIcon {
  width: 20px;
  height: 20px;
  fill: #595d70;
}

@media screen and (max-width: 1020px) {
  .aboutImageContainer {
    grid-template-columns: 1fr;
    margin: auto;

    // reverse the order of the image and text
    .aboutImage {
      order: -1;
    }

    img {
      width: 100%;
      max-width: 300px;
    }
  }
}

.aboutImageContainer {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;

  .aboutParagraph {
    text-align: left;
    margin-top: 0;
  }

  .aboutParagraph .highlight {
    color: #473d27;
    font-size: 110%;
    text-transform: capitalize;
  }

  img {
    width: 100%;
    border-radius: 2px;
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;

    img {
      max-width: 150px;
      margin-left: auto;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.activeSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--toast-z-index);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  animation: fadeIn 0.2s ease-out forwards;

  .activeSectionContent {
    background-color: white;
    color: #473d27;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: contentActive 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    -webkit-font-smoothing: antialiased;
    max-height: 80vh;
  }

  h2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  .closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    z-index: 3;

  }
}


.vennDiagram {
  position: relative;
  width: 500px;
  height: 550px;
  margin: 40px auto;
}

.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-link);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-origin: center;
  z-index: 1;

  &:active {
    transform: scale(1.1);
    outline: none;
  }

  &.centerCircle {
    width: 300px;
    height: 300px;
    // background-color: #ffcccb;
    font-weight: bold;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tooltip {
  position: absolute;
  transform: translate3d(5px, -50%, 0);
  background-color: var(--color-link);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 2;
  opacity: 0;
  min-width: 300px;
}

.circle1:not(.tooltip):hover,
.circle2:not(.tooltip):hover,
.circle3:not(.tooltip):hover,
.circle4:not(.tooltip):hover,
.circle5:not(.tooltip):hover,
.circle6:not(.tooltip):hover,
.circle7:not(.tooltip):hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.circle1 {
  top: -2%;
  left: 48%;
  transform: translate(-50%, 0) scale(1);
}

.circle1:not(.tooltip):hover {
  transform: translate(-50%, 0) scale(1.1);
}

.circle2 {
  top: 25%;
  left: 80%;
  transform: translate(-50%, -50%) scale(1);
}

.circle2:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.circle3 {
  top: 26%;
  left: 90%;
  transform: translate(-50%, 50%) scale(1);
}

.circle3:not(.tooltip):hover {
  transform: translate(-50%, 50%) scale(1.1);
}

.circle4 {
  bottom: 4%;
  left: 70%;
  transform: translate(-50%, 0) scale(1);
}

.circle4:not(.tooltip):hover {
  transform: translate(-50%, 0) scale(1.1);
}

.circle5 {
  bottom: 38%;
  left: 14%;
  transform: translate(-50%, 50%) scale(1);
}

.circle5:not(.tooltip):hover {
  transform: translate(-50%, 50%) scale(1.1);
}

.circle6 {
  top: 30%;
  left: 17%;
  transform: translate(-50%, -50%) scale(1);
}

.circle6:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.circle7 {
  bottom: -14%;
  left: 37%;
  transform: translate(-50%, -50%) scale(1);
}

.circle7:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
  }

  .vennDiagram {
    width: 200px;
    height: 200px;
  }

  .circle.centerCircle {
    width: 200px;
    height: 200px;
  }

  .circle1 {
    top: -30%;
    left: 48%;
  }

  .circle2 {
    top: 6%;
    left: 97%;
  }

  .circle3 {
    top: 10%;
    left: 114%;
  }

  .circle4 {
    bottom: -24%;
    left: 85%;
  }

  .circle5 {
    bottom: 35%;
    left: -7%;
  }

  .circle6 {
    top: 13%;
    left: -2%;
  }

  .circle7 {
    bottom: -49%;
    left: 31%;
  }

  .tooltip {
    bottom: unset;
    left: 0 !important;
    top: 0 !important;
  }

}

.servicesContainer {
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 100%;
  overflow: visible;
  max-width: 720px;
  margin: auto;

  @media (max-width: 768px) {
    padding: 20px 0;
    overflow: auto;
  }

  h2 {
    margin-bottom: 20px;
    color: white;
  }
}

.servicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
}

.serviceCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  color: #473d27;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.arrow {
  position: absolute;
  right: -40px;
  display: flex;
  align-items: center;
  transform: translateX(-50%) rotate(270deg);

  @media (max-width: 768px) {
    top: unset;
    bottom: -30px;
    left: 50%;
    transform: translateX(-13px) rotate(0);
  }
}

.serviceInfo {
  background-color: var(--color-link);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  transform: translate(0, 20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.tooltip p {
  margin-top: 10px;
  font-size: 16px;
}