@mixin button-styles($name, $size) {
  .#{$name} {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    svg {
      fill: var(--color-link);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.about {
  --about-text-color: #473d27;

  height: auto;
  /* Allow content to dictate height */
  overflow-y: visible;
  /* Use the parent container for scrolling */
  color: var(--about-text-color);
  font-family: 'Theinhardt', sans-serif;
  letter-spacing: -0.35px;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}

h1.heading {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  font-family: 'Poiret One', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  color: var(--color-text);
}

h1.heading .highlight {
  color: var(--color-link);
}

.aboutParagraph {
  color: var(--about-text-color);
  letter-spacing: -0.45px;
  font-size: 20px;
  line-height: 1.8125;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 1550px) {
  .aboutParagraph {
    font-size: 18px;
    max-width: 780px;
  }
}

@media screen and (max-width: 1020px) {

  // styles for screens smaller than 1020px
  .about {
    padding: 0px;
  }

  h1.heading {
    font-size: 32px;
    line-height: 38px;
    margin-top: 68px;
  }

  .aboutParagraph {
    font-size: 16px;
    line-height: 1.65;
    padding: 0 20px;
    margin: 40px auto;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  h1:not(.heading),
  h2,
  h3 {
    margin-bottom: 1rem;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    letter-spacing: 0.75px;
  }

}

@include button-styles(closeButton, 60px);

.closeButton {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  z-index: 3;
}

.closeIcon {
  width: 20px;
  height: 20px;
  fill: #595d70;
}

@media screen and (max-width: 1020px) {
  .aboutImageContainer {
    grid-template-columns: 1fr;
    margin: auto;

    // reverse the order of the image and text
    .aboutImage {
      order: -1;
      margin: auto;
    }

    img {
      width: 100%;
      max-width: 300px;
    }
  }
}

.aboutImageContainer {
  display: flex;
  gap: 100px;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;

  .aboutParagraph {
    text-align: left;
    margin: 0;
  }

  .aboutParagraph .highlight {
    color: #473d27;
    font-size: 110%;
    text-transform: capitalize;
  }

  img {
    width: 100%;
    border-radius: 2px;
    max-width: 200px;
    margin: auto;
  }

  @media screen and (max-width: 1020px) {
    gap: 40px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;

    img {
      max-width: 150px;
      margin-left: auto;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.activeSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--toast-z-index);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  animation: fadeIn 0.2s ease-out forwards;

  .activeSectionContent {
    background-color: white;
    color: #473d27;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: contentActive 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    -webkit-font-smoothing: antialiased;
    max-height: 80vh;
  }

  h2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  .closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    z-index: 3;

  }
}


.vennDiagram {
  position: relative;
  width: 500px;
  height: 550px;
  margin: 40px auto;
}

.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-link);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-origin: center;
  z-index: 1;

  &:active {
    transform: scale(1.1);
    outline: none;
  }

  &.centerCircle {
    width: 300px;
    height: 300px;
    // background-color: #ffcccb;
    font-weight: bold;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tooltip {
  position: absolute;
  transform: translate3d(5px, -50%, 0);
  background-color: var(--color-link);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 2;
  opacity: 0;
  min-width: 300px;
}

.circle1:not(.tooltip):hover,
.circle2:not(.tooltip):hover,
.circle3:not(.tooltip):hover,
.circle4:not(.tooltip):hover,
.circle5:not(.tooltip):hover,
.circle6:not(.tooltip):hover,
.circle7:not(.tooltip):hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.circle1 {
  top: -2%;
  left: 48%;
  transform: translate(-50%, 0) scale(1);
}

.circle1:not(.tooltip):hover {
  transform: translate(-50%, 0) scale(1.1);
}

.circle2 {
  top: 25%;
  left: 80%;
  transform: translate(-50%, -50%) scale(1);
}

.circle2:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.circle3 {
  top: 26%;
  left: 90%;
  transform: translate(-50%, 50%) scale(1);
}

.circle3:not(.tooltip):hover {
  transform: translate(-50%, 50%) scale(1.1);
}

.circle4 {
  bottom: 4%;
  left: 70%;
  transform: translate(-50%, 0) scale(1);
}

.circle4:not(.tooltip):hover {
  transform: translate(-50%, 0) scale(1.1);
}

.circle5 {
  bottom: 38%;
  left: 14%;
  transform: translate(-50%, 50%) scale(1);
}

.circle5:not(.tooltip):hover {
  transform: translate(-50%, 50%) scale(1.1);
}

.circle6 {
  top: 30%;
  left: 17%;
  transform: translate(-50%, -50%) scale(1);
}

.circle6:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.circle7 {
  bottom: -14%;
  left: 37%;
  transform: translate(-50%, -50%) scale(1);
}

.circle7:not(.tooltip):hover {
  transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
  }

  .vennDiagram {
    width: 200px;
    height: 200px;
  }

  .circle.centerCircle {
    width: 200px;
    height: 200px;
  }

  .circle1 {
    top: -30%;
    left: 48%;
  }

  .circle2 {
    top: 6%;
    left: 97%;
  }

  .circle3 {
    top: 10%;
    left: 114%;
  }

  .circle4 {
    bottom: -24%;
    left: 85%;
  }

  .circle5 {
    bottom: 35%;
    left: -7%;
  }

  .circle6 {
    top: 13%;
    left: -2%;
  }

  .circle7 {
    bottom: -49%;
    left: 31%;
  }

  .tooltip {
    bottom: unset;
    left: 0 !important;
    top: 0 !important;
  }

}

.servicesContainer {
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 100%;
  overflow: visible;
  max-width: 720px;
  margin: auto;

  @media (max-width: 768px) {
    padding: 20px 0;
    overflow: auto;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.servicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
}

.serviceCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--dark-orange-text);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.arrow {
  position: absolute;
  right: -40px;
  display: flex;
  align-items: center;
  transform: translateX(-50%) rotate(270deg);

  @media (max-width: 768px) {
    top: unset;
    bottom: -30px;
    left: 50%;
    transform: translateX(-13px) rotate(0);
  }
}

.serviceInfo {
  background-color: var(--color-link);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  transform: translate(0, 20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.tooltip p {
  margin-top: 10px;
  font-size: 16px;
}