@mixin button-styles($name, $size) {
    .#{$name} {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
        font-style: italic;
        font-weight: bold;
        font-family: monospace;
        transform: scale(1);
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        svg {
            fill: var(--color-link);
        }

        &:hover {
            transform: scale(1.05);
        }
    }

}


.about {
    height: auto;
    /* Allow content to dictate height */
    overflow-y: visible;
    /* Use the parent container for scrolling */
    color: white;
    font-family: 'Theinhardt', sans-serif;
    letter-spacing: -0.35px;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

h1.heading {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
    font-family: 'Poiret One', sans-serif;
    font-size: 38px;
    line-height: 44px;
}

@media screen and (max-width: 1020px) {

    .about {
        padding: 0px;
    }

    h1.heading {
        font-size: 32px;
        line-height: 38px;
    }

    .aboutParagraph {
        font-size: 16px;
        line-height: 40px;
    }
}

h1.heading .highlight {
    color: #473d27;
}

.aboutParagraph {
    color: #fbfbfb;
    letter-spacing: -0.45px;
    font-size: 18px;
    line-height: 44px;
    line-height: 1.4;
    margin-bottom: 20px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;

    h1:not(.heading) {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: Poppins, sans-serif;
        font-size: 38px;
        line-height: 44px;
    }

    h1:not(.heading),
    h2,
    h3 {
        color: white;
        margin-bottom: 1rem;
        font-family: 'Poiret One', sans-serif;
        font-weight: bold;
        letter-spacing: 0.75px;
    }

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &.oneColumn {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1020px) {
    .gridContainer {
        grid-template-columns: 1fr;
        max-width: 420px;
        margin: auto;
    }
}

.contentSection {
    color: #595d70;
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;

    &:not(.inactive):not(.active) {
        animation: contentInactive 0.3s ease-in-out;
    }

    &.inactive {
        display: none;
    }

    &.active {
        display: flex;
        column-gap: 20px;
        border: 1px solid #6e531b;
        border-radius: 8px;
        padding: 20px;

        @media screen and (max-width: 1020px) {
            flex-direction: column;
            .closeButton {
                // display: none;
            }
        }

        .headerContainer {
            overflow: hidden;

            &:hover h2 {
                transform: translate3d(-50%, -50%, 0) scale(1);
                background-color: transparent;
            }
        }

        .headerContainer h2 {
            border-radius: 0;
            background-color: rgba(246, 171, 11, 0.45);
            backdrop-filter: none;
            width: 100%;
            padding: 0;
            height: auto;
            height: 100%;
            border-radius: 50%;
        }

        .content {
            animation-delay: .2s;
            animation: contentActive 0.3s ease-in-out;
        }

        img {
            animation: contentActiveImage 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            max-width: 40vw;
        }

        .closeButton {
            animation-delay: .2s;
            animation: contentActiveImage 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
    }
}

@keyframes contentActive {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes contentActive {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentActiveImage {
    0% {
        transform: translateY(0) scale(.9);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@-webkit-keyframes contentActiveImage {
    0% {
        transform: translateY(0) scale(.9);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.content {
    // background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    padding: 0 20px;
    max-width: 500px;
    margin: auto;
    // border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include button-styles(closeButton, 60px);

.closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    z-index: 3;
}

.closeIcon {
    width: 20px;
    height: 20px;
    fill: #595d70;
}

.headerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        // color: #f6ab0b;
        color: white;
        background-color: rgba(246, 171, 11, 0.5);
        backdrop-filter: blur(3px);
        // padding: 20px;
        border-radius: 50%;
        // width: 100%;
        // height: 100%;
        height: 150px;
        width: 150px;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        position: relative;
        z-index: 2;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease-out,
            height 0.3s ease-out, width 0.3s ease-out;
    }

    &:hover h2 {
        background-color: rgba(246, 171, 11, 0.2);
        width: 100%;
        height: 100%;
        backdrop-filter: none;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin: auto;
        object-fit: cover;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
}

.circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
}

$size: 48px;
$halfSize: calc($size / 2);
$circleTopPosition: 50px;

.whiteCircle {
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    top: $circleTopPosition;
    left: 40%;
    z-index: 1;
}

.orangeCircle {
    width: $size;
    height: $size;
    background-color: #f6ab0b;
    border-radius: 50%;
    margin-left: 5px;
    position: absolute;
    top: calc($circleTopPosition + $halfSize);
    left: calc(40% + $halfSize);
    z-index: 1;
}

.orangeCircleBigger {
    @extend .orangeCircle;
    width: 60px;
    height: 60px;
    top: 42px;
    left: calc(50% + 11px);
    opacity: .7;
}

.bigOrageCircle {
    z-index: 1;
    background-color: #f6ab0b3b;
    border-radius: 50%;
    width: 520px;
    height: 520px;
    margin-left: 5px;
    position: absolute;
    top: 25%;
    right: -100px;
}

.h2 {
    color: #f6ab0b;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    position: relative;
    z-index: 2;
    text-align: center;
}

.h3 {
    color: #484848;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 20px auto;
    position: relative;
    z-index: 2;
    text-align: center;
    // max-width: 150px;
}

.paragraph {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: -0.56px;
    color: #6e531b;
    z-index: 2;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
    padding: 10px 0;
    margin: 10px 0;
    z-index: 2;
    position: relative;

    li {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.5px;
        // color: var(--color-link);
        color: #6e531b;
        margin: 5px 0;
        // text-transform: capitalize;
        font-weight: 500;
    }
}

.aboutImageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;

    img {
        width: 100%;
        border-radius: 8px;
    }
}

@media screen and (max-width: 1020px) {
    .aboutImageContainer {
        grid-template-columns: 1fr;
        max-width: 420px;
        margin: auto;

        // reverse the order of the image and text
        .aboutImage {
            order: -1;
        }

        img {
            width: 100%;
        }
    }
}