.aboutForm {

    .formGroup {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-size: 1rem;
            font-weight: bold;
            color: #555;
        }

        input[type="file"] {
            margin-top: 0.5rem;
        }

        .previewImage {
            margin-top: 1rem;
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 20px;

        .contentItem {
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            border-radius: 6px;
            padding: 0.5rem;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 0.8rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        .bullets {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .bullet {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                input[type="text"] {
                    flex: 1;
                }

                button {
                    padding: 0.5rem 1rem;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                button.warn {
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 9px 4px;

                    svg {
                        fill: #ff4d4f;
                    }

                    &:hover {
                        svg {
                            fill: #e04345;
                        }
                    }
                }
            }

            button {
                align-self: flex-start;
                padding: 0.5rem 1rem;
                background-color: var(--color-link);
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-link);
                }
            }
        }

        button {
            align-self: flex-start;
            padding: 0.5rem 1rem;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button.warn {
            background-color: #ff4d4f;

            &:hover {
                background-color: #e04345;
            }
        }

        .contentActions {
            display: flex;
            justify-content: flex-end;
            column-gap: 10px;
        }
    }

    button {
        padding: 0.8rem 1.2rem;
        background-color: var(--color-link);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: var(--color-link);
        }

        &:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }
    }
}

button.dragButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #f7f7f7 !important;
    border: 1px solid #ccc;
}

button.dragButton:hover {
    background-color: #dedede !important;
    cursor: grab;

    svg {
        fill: #333;
    }
}


.sortableContent {

    .contentInner {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

}

.aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 8px 20px;
    border-bottom: 1px solid #f6e1b8;
    background-color: #feeece;

    position: sticky;
    top: 55px;
    width: 100%;
    left: 0;
    z-index: var(--nav-z-index);

    h2 {
        margin: 0;
        margin-bottom: 0 !important;
    }
}

.saveButton,
.iconButton {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: var(--color-link);
}

.submitButton {
    background-color: var(--color-link);
    margin: 10px 0;

    &:hover {
        background-color: var(--color-link-hover);
    }
}

.flexRight {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.flexRightCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button.backButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid #ccc !important;
    color: #4f4e4e !important;
    text-transform: uppercase;

    svg {
        margin-right: 5px;
        width: 14px;
        fill: #4f4e4e;
    }
}


.aboutAuthorSection {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    padding: 20px;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    input[type="file"] {
        display: none;
    }

    &::after {
        content: "";
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 2px;
        z-index: 1;
        transition: all .3s;
    }

    &:hover::after {
        background-color: rgba(0, 0, 0, .3);
    }

    &:hover .uploadLabel {
        opacity: 1;
    }
}

.aboutImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.uploadLabelGeneric {
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.uploadLabel {
    @extend .uploadLabelGeneric;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0;
    transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sections {
    padding: 20px;
}

.imageUpload {
    max-width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;

    &.hasImage {
        border: 4px dashed #f6ab0b;
    }

    &.noImage {
        height: 200px;
        width: 256px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    &::after {
        content: "";
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 2px;
        z-index: 1;
        transition: all .3s;
    }

    &:hover::after {
        background-color: rgba(0, 0, 0, .3);
    }

    &:hover .uploadLabel {
        opacity: 1;
    }

    .sectionImage {
        width: 100%;
        height: auto;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
}