.adminContent {
  padding: 0;
}

.manageProjects {
  padding: 0 40px;
}

.adminHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px 20px;
  border-bottom: 1px solid #f6e1b8;
  background-color: #feeece;

  position: sticky;
  top: 55px;
  width: 100%;
  left: 0;
  z-index: var(--nav-z-index);

  h2 {
    margin: 0;
    margin-bottom: 0 !important;
    font-size: 20px;
  }

  button {
    margin-bottom: 0 !important;
  }
}