
.footer {
  position: relative;
  opacity: 0;

  .spacer {
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-link);
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transform: translateY(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 20px;

    @media screen and (max-width: 768px) {
      margin: auto 10px;
    }
  }

  .footerTop {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 46px;
    font-family: 'Poiret One', sans-serif;
    color: #5b5750;
    text-transform: lowercase;

    @media screen and (max-width: 1280px) {
      font-size: 32px;
    }

    @media screen and (max-width: 980px) {
      font-size: 24px;
      
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    .spacer {
      @media screen and (max-width: 768px) {
        width: 4px;
        height: 4px;
        margin: auto 8px;
        transform: translateY(3px);
      }
    }
  }

  .footerInner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin: 50px 0 20px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 10px 0 20px;
    }

    // at around 1270px width, the grid should be 1 column
    @media screen and (max-width: 1270px) {
      grid-template-columns: 1fr;
    }

    .spacer {
      display: inline-block;
      transform: translateY(0);
      width: 8px;
      height: 8px;
    }

    p {
      text-align: justify;
      font-family: 'Poiret One', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #5b5750;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    a {
      color: #4b3a18;
      text-decoration: none;
      font-weight: bold;
    }

    .footerContact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: 600;
      }

      a {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      .emptySpace {
        margin: 0 30px;
      }

      @media screen and (max-width: 768px) {
        .emptySpace {
          display: none;
        }

        a {
          display: block;
          margin: 10px 0;
          text-decoration: underline;
        }
      }
    }

    .footerCopyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #5b5750;
        font-family: 'Popins', sans-serif;
      }
    }
  }

  .footerBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 20px;

    small { 
      font-size: 12px;
      color: #5b5750;
      font-family: 'Poiret One', sans-serif;
    }
  }
}