.circleContainer {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$circleSize: 190px;

.circle {
  width: $circleSize;
  height: $circleSize;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 6px;
  color: var(--dark-orange-text);
  background-color: var(--color-link-transparent);
}

.circle1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-start;
}

/* Top */
.circle2 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-end;
}

/* Bottom */
.circle3 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  justify-content: flex-start;
  padding-left: 18px;
}

/* Left */
.circle4 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  justify-content: flex-end;
  padding-right: 28px;
}

/* Right */

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circleText {
  font-family: 'Poiret One', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-orange-text);
  margin: 0;
  line-height: 1;
  text-transform: lowercase;
}

@media screen and (max-width: 768px) {

  .circleContainer {
    width: 300px;
    height: 300px;
  }

  $circleSize: 160px;

  .circle {
    width: $circleSize;
    height: $circleSize;
  }

  .circleText {
    font-size: 20px;
    line-height: 1;
  }
}