$size: 250px;

.fullCircle {
  position: relative;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  shape-outside: circle();
  clip-path: circle();
  float: left;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.leftAligned .textWrapper {
  text-align: right;
  padding-left: 40px; // Base padding
}

.rightAligned .textWrapper {
  text-align: left;
  padding-right: 40px; // Base padding
}

.arcText {
  font-family: 'Poiret One', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-orange-text);
  margin: 0;
  line-height: 1.27;
  text-transform: lowercase;
}

// Dynamically adjust padding to simulate the circular contour
.arcText:nth-child(1) { padding-top: 10px; }
.arcText:nth-child(2) { padding-top: 8px; }
.arcText:nth-child(3) { padding-top: 6px; }
.arcText:nth-child(4) { padding-top: 4px; }
.arcText:nth-child(5) { padding-top: 2px; }

.leftAligned .arcText:nth-child(1) { padding-right: 14px; }
.leftAligned .arcText:nth-child(2) { padding-right: 6px; }
.leftAligned .arcText:nth-child(3) { padding-right: 7px; }
.leftAligned .arcText:nth-child(4) { padding-right: 22px; }

.rightAligned .arcText:nth-child(1) { padding-left: 14px; }
.rightAligned .arcText:nth-child(2) { padding-left: 6px; }
.rightAligned .arcText:nth-child(3) { padding-left: 7px; }
.rightAligned .arcText:nth-child(4) { padding-left: 22px; }

// Media query for smaller screens
@media screen and (max-width: 768px) {
  $size: 140px;

  .fullCircle {
    width: $size;
    height: $size;
    border-width: 2px;
  }

  .arcText {
    font-size: 20px;
    line-height: 1;
  }

  .arcText:nth-child(1) { padding-top: 2px; }
  .arcText:nth-child(2) { padding-top: 1px; }
  .arcText:nth-child(3) { padding-top: 0px; }
  .arcText:nth-child(4) { padding-top: 0px; }

  .leftAligned .arcText:nth-child(1) { padding-right: 10px; }
  .leftAligned .arcText:nth-child(2) { padding-right: 4px; }
  .leftAligned .arcText:nth-child(3) { padding-right: 5px; }
  .leftAligned .arcText:nth-child(4) { transform: translateX(-14px) }

  .rightAligned .arcText:nth-child(1) { padding-left: 10px; }
  .rightAligned .arcText:nth-child(2) { padding-left: 4px; }
  .rightAligned .arcText:nth-child(3) { padding-left: 5px; }
  .rightAligned .arcText:nth-child(4) { padding-left: 10px; }
}