@use 'sass:math';

$diameter: 320px;
$radius: math.div($diameter, 2);

.halfCircle {
  width: $radius; // Adjust for desired size
  height: $diameter; // Full height of a split circle
  border-radius: $radius 0 0 $radius; // Default to left half-circle
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left {
  border-radius: $radius 0 0 $radius;
}

.right {
  // border-radius: 0 150px 150px 0; // Flip to right half-circle
  border-radius: 0 $radius $radius 0; // Flip to right half-circle
}

.textContainer {
  font-family: 'Poiret One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; // Right-align by default
  padding: 20px;
  height: 100%;
  width: 100%;
  
  // decrease padding on mobile
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.right .textContainer {
  align-items: flex-start; // Left-align text for right-side half-circle
}

.text {
  font-family: 'Poiret One', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-orange-text);
  margin: 0;
  line-height: 1.1;
  text-transform: lowercase;
}

@media screen and (max-width: 768px) {
  $diameter: 250px;
  $radius: math.div($diameter, 2);

  .halfCircle {
    width: $radius;
    height: $diameter;
    border-radius: $radius 0 0 $radius;
  }

  .right {
    border-radius: 0 $radius $radius 0;
  }

  .text {
    font-size: 20px;
    line-height: 1;
  }
  
}