@mixin transition($property, $duration: 0.3s) {
    transition: $property $duration ease-in-out;
}

.nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-text);
    z-index: var(--nav-z-index);
    transform: translate3d(0, 0, 0);
    // opacity: 0;
    // background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        position: relative;
        width: 100%;
        transform: translate3d(0, 0, 0);
        min-height: 55px;
        // -webkit-backdrop-filter: blur(6px);
        // backdrop-filter: blur(6px);
        // box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
        position: relative;

        img {
            vertical-align: bottom;
            max-width: 200px;
            width: 100%;
            opacity: 0;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        opacity: 0;

        @media screen and (max-width: 1400px) {
            display: none;
        }
    }

    &__item {
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: var(--color-text);
        @include transition(color);
        outline: none;
        border-bottom: 1px dashed transparent;

        &:hover {
            color: var(--color-link-hover);
            border-bottom: 1px dashed var(--color-link);
        }
    }
}