:root {
    --cursor-z-index: 10002;
    --toast-z-index: 1000;
    --shadow-z-index: 2001;
    --entry-animation-z-index: 2000;
    --nav-z-index: 700;
    --logo-z-index: 701;
    --frame-z-index: 600;
}

@mixin circle-button($name, $size) {
    .#{$name} {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 50%;
        // box-shadow: 0 3px 7px rgba(47, 47, 47, 0.3);
        font-style: italic;
        font-weight: bold;
        font-family: monospace;
        margin: auto;

        svg {
            fill: var(--color-link);
        }
    }
}

@mixin transition($property, $duration: 0.3s) {
    transition: $property $duration ease-in-out;
}

.nav__logo {
    text-decoration: none;
    position: absolute;
    top: 28px;
    right: -160px;
    z-index: var(--nav-z-index);
}

.logoSvg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: var(--logo-z-index);
    font-family: 'Poiret One', sans-serif;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    column-gap: 1px;
    position: relative;
    left: 22px;

    @media screen and (min-width: 768px) {
        left: 60px;
    }

    span {
        display: inline-block;
    }
}

.nav.infoPageOpen {
    @media screen and (min-width: 768px) {
        transform: translate3d(calc(100vw - 300px), 0, 0) !important;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 75px;
    color: var(--color-text);
    z-index: var(--nav-z-index);
    transform: translate3d(0, 0, 0);
    background-color: var(--color-link-transparent);
    transition: transform .45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    @media screen and (min-width: 768px) {
        height: 100vh;
        top: 0;
        bottom: 0;
        position: fixed;
    }

    &__topbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background-color: rgba(255, 255, 255, 1);
        z-index: var(--frame-z-index);
        transition: transform 0.5s ease;
    }

    &__topbarInner {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        height: 100%;
        padding: 0 20px 0 20px;
        // -webkit-backdrop-filter: blur(6px);
        // backdrop-filter: blur(6px);
        // box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    }

    &__phone {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
        position: relative;
        position: absolute;
        top: 16px;
        right: -71px;
    }

    &__email {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
        position: relative;
        position: absolute;
        top: 16px;
        right: -71px;
    }

    &__inner {
        z-index: var(--nav-z-index);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        position: relative;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0 auto 0;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__item {
        margin: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        // font-family: Poiret One, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__separation {
        background-color: #6B6B68;
        opacity: 0.25;
        width: 1px;
        height: 24px;
        transform: translateY(2px);
    }

    &__link {
        text-decoration: none;
        color: #6b6b6b;
        @include transition(color);
        outline: none;
        border-bottom: 1px dashed transparent;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        position: relative;
        transform: translateY(3px);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--color-link);
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
            cursor: pointer;
            color: var(--color-text);

            &::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &.active {
            color: var(--color-text);

            &::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .nav__link,
    .nav__separation {
        display: none;
    }
}

.aboutLink,
.contactLink,
.servicesLink,
a {
    text-decoration: none;
}

.circleHover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-link);
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    position: relative;
    margin: auto;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    border: 2px solid white;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
    // -webkit-backdrop-filter: blur(6px);
    // backdrop-filter: blur(6px);
}

.circleHover:hover,
.circleHover.active,
.homeCicleDesktop.active,
.aboutCircleDesktop.active,
.contactCircleDesktop.active,
.servicesCircleDesktop.active {
    cursor: pointer;

    &::before {
        transform: translate3d(0, 0, 0);
        font-size: 14px;
        text-transform: capitalize;
    }

    &::after {
        transform: translate3d(0, 0, 0);
        font-size: 14px;
        text-transform: capitalize;
    }
}

.circleHover::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, -100%, 0);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 10002;
}

.circleHover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(246, 171, 11, 1);
    z-index: 10001;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translate3d(0, 102%, 0);
}

.aboutCircleMobile {
    @extend .circleHover;
    position: fixed;
    top: 8px;
    right: 10px;
    width: 48px;
    height: 48px;
    z-index: var(--nav-z-index);
    background-color: rgb(246, 171, 11, .8);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);

    &::before {
        background-color: white;
    }

    &::after {
        color: var(--color-link);
    }


    svg {
        transform: translateY(3px);
    }
}

.contactCircleMobile {
    @extend .circleHover;
    // width: 62px;
    // height: 62px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: var(--nav-z-index);
    background-color: rgb(246, 171, 11, .8);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);

    &::before {
        background-color: white;
    }

    &::after {
        color: var(--color-link);
    }

    svg {
        transform: translateY(3px);
    }

    &.contactCircleMobileWhite {
        background-color: white;
        color: var(--color-link);

        &::before {
            background-color: var(--color-link);
        }

        &::after {
            color: white;
        }

        svg {
            fill: var(--color-link);
        }
    }
}

.servicesCircleMobile {
    @extend .circleHover;
    // width: 62px;
    // height: 62px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: var(--nav-z-index);
    background-color: rgb(246, 171, 11, .8);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);

    &::before {
        background-color: white;
    }

    &::after {
        color: var(--color-link);
    }

    svg {
        transform: translateY(3px);
    }

    &.servicesCircleMobileWhite {
        background-color: white;
        color: var(--color-link);

        &::before {
            background-color: var(--color-link);
        }

        &::after {
            color: white;
        }

        svg {
            fill: var(--color-link);
        }
    }
}

.homeCicleDesktop,
.aboutCircleDesktop,
.contactCircleDesktop,
.servicesCircleDesktop {
    @extend .circleHover;
}

@media screen and (min-width: 768px) {

    .aboutCircleMobile,
    .contactCircleMobile,
    .servicesCiricleMobile {
        display: none;
    }
}

// make position fixed on mobile
@media screen and (max-width: 767px) {

    .aboutCircleDesktop,
    .contactCircleDesktop,
    .servicesCircleDesktop {
        display: none;
    }
}

.nav__content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;

    &.nav__contentVisible {
        display: grid;
        grid-template-columns: 1fr 84px;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        &.nav__contentVisible {
            grid-template-columns: 1fr;
        }
    }
}

.nav__hamburger {
    // position: fixed;
    margin: auto;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;

    &.active {
        .nav__hamburgerLine {
            background-color: white;
        }
    }

    .nav__hamburgerLine {
        width: 100%;
        height: 3px;
        background-color: white;
        @include transition(background-color);

    }

    .nav__hamburgerLine:nth-child(1) {
        transform: translateY(0);
    }

    .nav__hamburgerLine:nth-child(2) {
        transform: translateY(0);
    }

    .nav__hamburgerLine:nth-child(3) {
        transform: translateY(0);
    }

    &.active .nav__hamburgerLine:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    &.active .nav__hamburgerLine:nth-child(2) {
        opacity: 0;
    }

    &.active .nav__hamburgerLine:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    &:hover {
        .nav__hamburgerLine {
            background-color: var(--color-text);
        }
    }

    &:focus {
        .nav__hamburgerLine {
            background-color: var(--color-text);
        }
    }

    &:active {
        .nav__hamburgerLine {
            background-color: var(--color-text);
        }
    }

    &:hover .nav__hamburgerLine {
        background-color: white;
    }


}

.nav__scrollContent {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(251, 228, 183);
    position: relative;

    @media screen and (min-width: 768px) {
        margin-top: -20px;
        margin-left: -20px;
        padding-top: 40px;
        height: calc(100vh + 20px);
    }
}

nav {
    @include circle-button(closeButton, 48px);
   .closeButton {
        z-index: var(--cursor-z-index);
        // top: 70px;
        // right: -34px;
    }

    @include circle-button(closeButtonMobile, 48px);

    .closeButtonMobile {
        z-index: var(--cursor-z-index);
        position: fixed;
        top: 10px;
        right: 10px;
        display: none;
    }

    .closeButton svg {
        width: 32px;
    }

    @media screen and (max-width: 768px) {
        .closeButton {
            display: block;
            width: 48px;
            height: 48px;
        }
    }

   .closeIcon {
        z-index: 1;
        width: 16px;
        height: 100%;
        transition: transform .65s cubic-bezier(.65, .05, 0, 1);
        position: relative;
        max-width: none;
        box-sizing: border-box;
        vertical-align: middle;
    }
}

.mobileMenuContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--nav-z-index);
    transform-origin: center;
    width: 68px;
    height: 68px;
}

.mobileBottomMenu {
    padding: 0;
}
