.horizontalContainer {
  display: flex;
  flex-wrap: nowrap;
  width: calc(3 * 100%); // 3 groups * 100vw each
  height: 100vh;
  position: relative;
}

/* Responsive fallback */
@media screen and (max-width: 1023px) {
  .horizontalContainer {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}