.mobileMenu {
  --bgColorMenu: rgba(255,255,255,.98);
  --bgColorItem: rgb(246, 171, 11);
  --timeOut: .7s;
  --duration: .7s;    
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--bgColorMenu);
  opacity: 0.9;
  padding: 20px 0;
  z-index: 1000;
  margin: 0;
  box-shadow: 0 -3px 7px rgba(157, 157, 157, 0.3);

  .menuItem {
    all: unset;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    padding: 0;
    color: #9d9d9d;
    font-size: 1.2em;
    position: relative;
    transition: transform 0.3s ease;
    width: 33%;
    transform: translateY(0px);

    svg {
      transition: fill 2s, stroke 0.3s;
      transform: translateY(-10px);
    }

    &:not(.active) svg {
      fill: transparent;
      stroke: transparent;
    }

    &.active {
      // transform: translateY(-10px);
      color: var(--bgColorItem);
      svg {
        // fill: var(--bgColorItem);
        stroke: var(--bgColorItem);
      }
    }

    &:active {
      outline: none;
      background: transparent;
    }
    &:focus {
      outline: none;
      background: transparent;
    }
  }
}

.icon {
  width: 2em;
  height: 2em;
  stroke: var(--bgColorItem);
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.tab {
  font-size: 16px;
  text-transform: uppercase;
}

.menuItem.active .icon {
  animation: stroke-animation 1.5s reverse;
}

.menuItem.active .tab {
}

@keyframes stroke-animation {
  100% {
    stroke-dashoffset: 400;
  }
}

.menuBorder {
  left: 0;
  top: 0;
  width: 33%;
  height: 2px;
  position: absolute;
  will-change: transform;
  background-color: #fbad05;
  transition: transform var(--timeOut, var(--duration));
}

.svgContainer {
  width: 0;
  height: 0;
}

@media screen and (max-width: 767px) {
  .mobileMenu {
    font-size: 0.8em;
  }
}

// hide on desktop
@media screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}