.multiSelectToggleDrag {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.selectedList, .unselectedList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .toggleButton {
    background-color: white;
    border: 1px solid #f6ab0b;
    color: #f6ab0b;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s, color 0.2s;
  }
}
.toggleButton {
  padding: 8px 16px;
  border: 1px solid #f6ab0b;
  background: #fff;
  color: #f6ab0b;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  &.selected {
    background: #f6ab0b;
    color: #fff;
  }
  &:hover {
    background: #f6ab0b;
    color: #fff;
  }
} 