.processFlow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8e4bb;
  padding: 20px;
  gap: 20px;
}

.stepContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;

  color: var(--dark-orange-text);
  background-color: var( --color-link-transparent);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: 'Poiret One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.27;
  text-transform: lowercase;

  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.circle.selected {
  background-color: var(--color-link);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}

.stepNumber {
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
}

.stepText {
  font-family: 'Poiret One', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: var(--dark-orange-text);
  line-height: 1.27;
  text-transform: lowercase;
}

.approvalContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 0;
  transform: translate(0, -42px);
}

.approvalCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(253, 236, 205);

  font-family: 'Poiret One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-orange-text);
  line-height: 1.27;
  text-transform: lowercase;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  &.selected {
    background-color: #f7ab0c;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: white;
    transform: scale(1.1);
  }

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  width: 50px;
  height: 10px;
}