.projectsList {
  padding: 0;
}

.mainImage {
  width: 100%;
  max-width: 80px;
  max-height: 60px;
  object-fit: cover;
  border-radius: 2px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectsList tbody td {
  height: 78px;
}