
.grid-container {
	display: grid;
	place-items: center;
	width: 100%;
	position: relative;
}

// Grid styles
.grid {
  opacity: 0; // Start hidden
	padding: 100vh 0;
	width: var(--grid-width);
	max-width: var(--grid-max-width);
	grid-template-columns: repeat(var(--grid-columns),1fr);
	position: relative;
	display: grid;
	gap: var(--grid-gap);
	margin-top: 20vh;
	margin-bottom: 10vh;
}

/* add --grid-max-width-mobile */
@media screen and (max-width: 53em) {
	.grid {
		max-width: var(--grid-max-width-mobile);
	}
}

.grid__item {
	margin: 0;
	position: relative;
	z-index: 1;
  	perspective: 800px;
  	will-change: transform, opacity;
    transform: scale(1);
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
    cursor: pointer;
}

.grid__item:hover {
  transform: scale(1.05);
  fitler: brightness(100%) blur(0px);
}

.grid__item > .grid__item-img,
.grid__item-imgwrap {
	width: 100%;
	aspect-ratio: var(--grid-item-ratio);
	height: var(--grid-item-height);
	border-radius: var(--grid-item-radius);
	transform-style: preserve-3d;
}

.grid__item-imgwrap {
	position: relative;
	overflow: hidden;
	will-change: filter;
}

.grid__item-img {
	background-size: cover;
	background-position: 50% 20%;
	backface-visibility: hidden;
	will-change: transform;
}

.grid__item-imgwrap > .grid__item-img {
	position: absolute;
	top: calc(-1 * var(--grid-item-translate));
	left: calc(-1 * var(--grid-item-translate));
	height: calc(100% + var(--grid-item-translate) * 2);
	width: calc(100% + var(--grid-item-translate) * 2);
}


.mark {
	position: fixed;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: 100vw;
	left: 0;
	z-index: var(--mark-z-index);
	overflow: hidden;
	padding: 8px;
  }
  
  .mark__inner {
	display: flex;
	width: max-content;
	position: relative;
	transform: translateX(100vw);
	will-change: transform;
	opacity: 0;
  }
  
  .mark__inner span {
	white-space: nowrap;
	text-transform: capitalize;
	font-size: 3rem;
	line-height: 1;
	padding: 5px 20px;
  }
  
  .mark__inner .clickable {
	cursor: pointer;
	&:hover {
	  color: rgb(171, 171, 171);
	}
  }