.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.fullscreen-overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100vw;
    // height: 100vh;
    // background-color: var(--color-bg);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow-x: auto;
    // overflow-y: hidden;
    // z-index: var(--frame-z-index);
    // transition: opacity 0.6s ease;
    // opacity: 0;
    // visibility: hidden;
  
    &.show {
      visibility: visible;
      opacity: 1;
  
      .project-content {
        opacity: 0;
        animation: scaleFadeIn 1s ease forwards;
      }
    }
  
    &.fade-out {
      opacity: 0;
      transition: opacity 0.6s ease;
    }
  
    @keyframes scaleFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  
    .project-content {
      display: flex;
      align-items: center;
      gap: 20px;
      height: 100%;
      width: 100%;
      padding: 20px;
  
      img {
        height: 80vh;
        cursor: pointer;
  
        @media (max-width: 768px) {
          height: 60vh;
          max-width: 90vw;
        }
      }
  
      .project-quote {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
        min-width: 320px;
      }
  
      .project-text {
        font-size: 1rem;
        text-align: center;
        min-width: 320px;
      }
    }
  }
  
  .close-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    color: var(--color-text);
    font-size: 2rem;
    z-index: var(--nav-z-index);
    padding: 24px;
  
    &:hover {
      color: var(--color-link);
      cursor: pointer;
      .close-overlay__line {
        background-color: var(--color-link);
      }
    }
  
    &.hidden {
      display: none;
      .close-overlay__line {
      }
    }
  }
  
  .close-overlay__line {
    width: 30px;
    height: 2px;
    background-color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .1s ease;
  }
  .close-overlay__line--1 {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .close-overlay__line--2 {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .close-overlay__line--3 {
    display: none;
  }