// Font-face definitions
@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Medium.fc38eab.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Regular.b467019.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/PoiretOne.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

$font-sans: 'Theinhardt', sans-serif;
$font-alt: 'Poiret One', sans-serif;

// Root Variables (CSS custom properties)
:root {
  font-size: 16px;
  --color-text: #1b1b1b;
  --dark-orange-text: #473d27;
  --color-bg: white;
  --color-link: rgb(246, 171, 11);
  --color-link-transparent: rgba(246, 171, 11, 0.65);
  --color-link-hover: #fbad05;
  --color-title: #fff;
  
  --toast-z-index: 1000;
  --shadow-z-index: 2001;
  --entry-animation-z-index: 2000;
  --loading-z-index: 2002;
  --nav-z-index: 700;
  --frame-z-index: 600;
}

@mixin border-box() {
  *, *::after, *::before {
    box-sizing: border-box;
  }
}

// Reset and Global Styles
@include border-box();

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: $font-sans;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

body {
  overscroll-behavior: contain; /* Prevent scroll chaining */
}

.font-alt {
  font-family: $font-alt;
}
