// Font-face definitions
@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Medium.fc38eab.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Regular.b467019.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/PoiretOne.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// SCSS Variables
$font-sans: 'Theinhardt', sans-serif;
$font-alt: 'Poiret One', sans-serif;

// Root Variables (CSS custom properties)
:root {
  font-size: 16px;
  --color-text: #333;
  --color-bg: white;
  --color-link: #f6ab0b;
  --color-link-hover: #fbad05;
  --color-title: #fff;
  --perspective: 0px;
  --grid-width: 100%;
  --grid-max-width: 420px;
  --grid-max-width-mobile: 300px;
  --grid-item-ratio: 1.2;
  --grid-item-radius: 4px;
  --grid-gap: 2rem;
  --grid-columns: 2;
  --grid-columns-full: 7;
  --grid-rows-full: 5;
  --grid-item-translate: 0px;
  --grid-item-height: auto;
  --loading-z-index: 10000;
  --nav-z-index: 7000;
  --frame-z-index: 6000;
  --shadow-z-index: 5000;
  --mark-z-index: 50;
}

// Mixins
@mixin transition($property, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}

@mixin border-box() {
  *, *::after, *::before {
    box-sizing: border-box;
  }
}

// Reset and Global Styles
@include border-box();

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: $font-sans;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

.font-alt {
  font-family: $font-alt;
}

// Navigation styles
.nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-text);
  z-index: var(--nav-z-index);
  transform: translate3d(0, 0, 0);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    width: 100%;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 3002;

    img {
      vertical-align: bottom;
      max-width: 500px;
      width: 100%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    &.hide {
      display: none;
    }
  }

  &__item {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);
    @include transition(color);
    outline: none;
    border-bottom: 1px dashed transparent;

    &:hover {
      color: var(--color-link-hover);;
      border-bottom: 1px dashed var(--color-link);
    }
  }
}

.grid-container {
	display: grid;
	place-items: center;
	width: 100%;
	position: relative;
}

// Grid styles
.grid {
  opacity: 0; // Start hidden
	padding: 20vh 0;
	width: var(--grid-width);
	max-width: var(--grid-max-width);
	grid-template-columns: repeat(var(--grid-columns),1fr);
	position: relative;
	display: grid;
	gap: var(--grid-gap);
	margin-top: 20vh;
	margin-bottom: 10vh;
}

/* add --grid-max-width-mobile */
@media screen and (max-width: 53em) {
	.grid {
		max-width: var(--grid-max-width-mobile);
	}
}

.grid__item {
	margin: 0;
	position: relative;
	z-index: 1;
  	perspective: 800px;
  	will-change: transform, opacity;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.grid__item:hover {
  transform: scale(1.1);
}

.grid__item > .grid__item-img,
.grid__item-imgwrap {
	width: 100%;
	aspect-ratio: var(--grid-item-ratio);
	height: var(--grid-item-height);
	border-radius: var(--grid-item-radius);
	transform-style: preserve-3d;
}

.grid__item-imgwrap {
	position: relative;
	overflow: hidden;
	will-change: filter;
}

.grid__item-img {
	background-size: cover;
	background-position: 50% 20%;
	backface-visibility: hidden;
	will-change: transform;
}

.grid__item-imgwrap > .grid__item-img {
	position: absolute;
	top: calc(-1 * var(--grid-item-translate));
	left: calc(-1 * var(--grid-item-translate));
	height: calc(100% + var(--grid-item-translate) * 2);
	width: calc(100% + var(--grid-item-translate) * 2);
}

// Unbutton reset
.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// Entry animation styles
.entry-animation {
  position: fixed;
  z-index: var(--nav-z-index);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--color-link);
  background: linear-gradient(90deg, var(--color-link) 50%, white 50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .entry-logo {
    transform: translate3d(-12px, 0, 0);
  }
}

// Fullscreen overlay styles
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  transition: opacity 0.6s ease;
  opacity: 0;
  visibility: hidden;

  &.show {
    visibility: visible;
    opacity: 1;

    .project-content {
      opacity: 0;
      animation: scaleFadeIn 1s ease forwards;
    }
  }

  &.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  @keyframes scaleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .project-content {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 20px;

    img {
      height: 80vh;
      cursor: pointer;

      @media (max-width: 768px) {
        height: 60vh;
        max-width: 90vw;
      }
    }

    .project-quote {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
      min-width: 320px;
    }

    .project-text {
      font-size: 1rem;
      text-align: center;
      min-width: 320px;
    }
  }

  .close-overlay {
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    background: none;
    color: var(--color-text);
    font-size: 2rem;
    z-index: var(--nav-z-index);
    padding: 20px;

    &:hover {
      color: var(--color-link);
      cursor: pointer;
    }
  }
}

// Loader animation
.loading::before,
.loading::after {
  content: '';
  position: fixed;
  z-index: var(--loading-z-index);
}

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

// Spinner styles
.spinner {
  margin: auto;
  display: block;
  margin-top: 13%;
  width: 80px;
  height: 80px;
  border-top-color: transparent;
  position: relative;
  z-index: var(--loading-z-index);
  height: 100%;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: var(--color-link);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25%;
    transform: translate3d(0, -50%, 0);
    animation: shrinkAndGrowLeft 1s ease-in-out infinite;
  }

  &::after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25%;
    transform: translate3d(0, -50%, 0);
    animation: shrinkAndGrowRight 1s ease-in-out infinite;
  }
}

@keyframes shrinkAndGrowLeft {
  0% {
    transform: translate3d(0, -50%, 0) scale(1);
  }
  50% {
    transform: translate3d(40px, -50%, 0) scale(0.8);
  }
  100% {
    transform: translate3d(0, -50%, 0) scale(1);
  }
}

@keyframes shrinkAndGrowRight {
  0% {
    transform: translate3d(0, -50%, 0) scale(0.7);
  }
  50% {
    transform: translate3d(-40px, -50%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, -50%, 0) scale(0.7);
  }
}
