@mixin transition($property, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}

#main {
  overflow-x: hidden;
}

// Navigation styles
.nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-text);
  z-index: var(--nav-z-index);
  transform: translate3d(0, 0, 0);
  // opacity: 0;
  // background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: relative;
    width: 100%;
    transform: translate3d(0, 0, 0);
    min-height: 34px;
    // -webkit-backdrop-filter: blur(6px);
    // backdrop-filter: blur(6px);
    // box-shadow: 0 3px 7px rgba(47, 47, 47, 0.1);
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: relative;
    img {
      vertical-align: bottom;
      max-width: 200px;
      width: 100%;
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    opacity: 0;

    @media screen and (max-width: 1400px) {
      display: none;
    }
  }

  &__item {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);
    @include transition(color);
    outline: none;
    border-bottom: 1px dashed transparent;

    &:hover {
      color: var(--color-link-hover);
      border-bottom: 1px dashed var(--color-link);
    }
  }
}

.grid-container {
	display: grid;
	place-items: center;
	width: 100%;
	position: relative;
}

// Grid styles
.grid {
  // opacity: 0; // Start hidden
	padding: 100vh 0;
	width: var(--grid-width);
	max-width: var(--grid-max-width);
	grid-template-columns: repeat(var(--grid-columns),1fr);
	position: relative;
	display: grid;
	gap: var(--grid-gap);
	margin-top: 20vh;
	margin-bottom: 10vh;
}

/* add --grid-max-width-mobile */
@media screen and (max-width: 53em) {
	.grid {
		max-width: var(--grid-max-width-mobile);
	}
}

.grid__item {
	margin: 0;
	position: relative;
	z-index: 1;
  	perspective: 800px;
  	will-change: transform, opacity;
    transform: scale(1);
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
    cursor: pointer;
}

.grid__item:hover {
  transform: scale(1.05);
  fitler: brightness(100%) blur(0px);
}

.grid__item > .grid__item-img,
.grid__item-imgwrap {
	width: 100%;
	aspect-ratio: var(--grid-item-ratio);
	height: var(--grid-item-height);
	border-radius: var(--grid-item-radius);
	transform-style: preserve-3d;
}

.grid__item-imgwrap {
	position: relative;
	overflow: hidden;
	will-change: filter;
}

.grid__item-img {
	background-size: cover;
	background-position: 50% 20%;
	backface-visibility: hidden;
	will-change: transform;
}

.grid__item-imgwrap > .grid__item-img {
	position: absolute;
	top: calc(-1 * var(--grid-item-translate));
	left: calc(-1 * var(--grid-item-translate));
	height: calc(100% + var(--grid-item-translate) * 2);
	width: calc(100% + var(--grid-item-translate) * 2);
}

// Unbutton reset
.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes turnWhite {
  0% {
    fill: #f5aa0d;
  }
  100% {
    fill: white;
  }
}
@-webkit-keyframes turnWhite {
  0% {
    fill: #f5aa0d;
  }
  100% {
    fill: white;
  }
}

// Entry animation styles
.entry-logo-orange-tile {
  position: fixed;
  z-index: var(--entry-animation-z-index);
  top: 0;
  left: 0;
  width: 50vw;
  background-color: var(--color-link);
  height: 100vh;
}

.entry-logo-white-tile {
  position: fixed;
  z-index: var(--entry-animation-z-index);
  top: 0;
  right: 0;
  width: 50vw;
  background-color: white;
  height: 100vh;
}

.entry-logo {
  opacity: 0; // Start hidden
  position: fixed;
  z-index: var(--entry-animation-z-index);
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .logo-group {
    transform: translateX(-28px)
  }
}

.mark {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  left: 0;
  z-index: var(--mark-z-index);
  overflow: hidden;
  padding: 8px;
}

.mark__inner {
  display: flex;
  width: max-content;
  position: relative;
  transform: translateX(100vw);
  will-change: transform;
  // opacity: 0;
}

.mark__inner span {
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 1;
  padding: 5px 20px;
}

.mark__inner .clickable {
  cursor: pointer;
  &:hover {
    color: rgb(171, 171, 171);
  }
}

// Fullscreen overlay styles
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: var(--frame-z-index);
  transition: opacity 0.6s ease;
  opacity: 0;
  visibility: hidden;

  &.show {
    visibility: visible;
    opacity: 1;

    .project-content {
      opacity: 0;
      animation: scaleFadeIn 1s ease forwards;
    }
  }

  &.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  @keyframes scaleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .project-content {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 20px;

    img {
      height: 80vh;
      cursor: pointer;

      @media (max-width: 768px) {
        height: 60vh;
        max-width: 90vw;
      }
    }

    .project-quote {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
      min-width: 320px;
    }

    .project-text {
      font-size: 1rem;
      text-align: center;
      min-width: 320px;
    }
  }
}

.close-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: var(--color-text);
  font-size: 2rem;
  z-index: var(--nav-z-index);
  padding: 24px;

  &:hover {
    color: var(--color-link);
    cursor: pointer;
    .close-overlay__line {
      background-color: var(--color-link);
    }
  }

  &.hidden {
    display: none;
    .close-overlay__line {
    }
  }
}

.close-overlay__line {
  width: 30px;
  height: 2px;
  background-color: var(--color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all .1s ease;
}
.close-overlay__line--1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-overlay__line--2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close-overlay__line--3 {
  display: none;
}

// Loader animation
.loading::before,
.loading::after {
  content: '';
  position: fixed;
  z-index: var(--loading-z-index);
}

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

// Spinner styles
.spinner {
  margin: auto;
  display: block;
  margin-top: 13%;
  width: 80px;
  height: 80px;
  border-top-color: transparent;
  position: relative;
  z-index: var(--loading-z-index);
  height: 100%;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: var(--color-link);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25%;
    transform: translate3d(0, -50%, 0);
    animation: shrinkAndGrowLeft 1s ease-in-out infinite;
  }

  &::after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25%;
    transform: translate3d(0, -50%, 0);
    animation: shrinkAndGrowRight 1s ease-in-out infinite;
  }
}

@keyframes shrinkAndGrowLeft {
  0% {
    transform: translate3d(0, -50%, 0) scale(1);
  }
  50% {
    transform: translate3d(40px, -50%, 0) scale(0.8);
  }
  100% {
    transform: translate3d(0, -50%, 0) scale(1);
  }
}

@keyframes shrinkAndGrowRight {
  0% {
    transform: translate3d(0, -50%, 0) scale(0.7);
  }
  50% {
    transform: translate3d(-40px, -50%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, -50%, 0) scale(0.7);
  }
}
